body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.site-container{
  min-height: 100vh;
}

main {
  /* padding: 1rem; */
  /* bring the footer in the bottom on every page */
  flex: 1; 
}

.rating span{
  color: #f0bc22
}

.btn{
  background-color: #f0c040;
  color: #000000
}

.products { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  border: 1px solid black; 
  margin: 1rem;
}

.items img {
  width: 100%;
  max-width: 400px;
}

.items-info {
  padding: 1rem;
}

.img-large{
  max-width: 100%;
  max-height: 60%;
}